.weather_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 2;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.map_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  text-shadow: 0 0 10px black;
}
.coordinates {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-top: 20px;
}
#buttons_block,
#refreshAndLang {
  @include flex_center;
  margin: 7px;
}

#choice_temp {
  margin: 7px;
}
.cels,
.fahrenheit {
  opacity: 0.7;
  width: 35px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgba(228, 228, 228, 0.123);
  &:hover {
    cursor: pointer;
    background-color: rgba(175, 175, 175, 0.7);
  }
}
.active {
  opacity: 1;
  background-color: rgba(175, 175, 175, 0.7);
}
#choice_lang {
  width: 45px;
  height: 30px;
  border: none;
  background-color: rgba(175, 175, 175, 0.7);
  color: white;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: rgba(175, 175, 175, 0.7);
  }
}
#refreshImage {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 5px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  filter: brightness(80%) invert(80%);
  background-color: rgba(255, 255, 255, 0.815);
  background-image: url("https://www.freeiconspng.com/thumbs/refresh-icon/refresh-icon-png-2.png");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    cursor: pointer;
  }
}

#map {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10% 10% 0 10%;
  box-shadow: 0 0 5px black;
}
.currentWeather {
  display: flex;
  margin: 10px;
}
.innerInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.weahter_info_title {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: $title_text;
  font-weight: 700;
}
.time_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  font-size: $inner_text;
  font-weight: 700;
}
#time {
  margin-left: 10px;
  font-weight: 700;
}
.temp_title {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: $current_temp;
  font-weight: bold;
  margin-left: 10px;
}
.info_element {
  margin-top: 10px;
  font-size: $inner_text;
  font-weight: 700;
}
.icon {
  position: relative;
  right: 25px;
}

.weatherOn3Days {
  display: flex;
}
.next_day_weather {
  margin: 10px;
  font-size: $title_text;
  font-weight: 700;
}

.blockDayWeather {
  display: flex;
  flex-direction: column;
}
.weekDayWeather {
  display: flex;
  flex-direction: row;
}
.weekDayNext {
  font-size: $inner_text;
  font-weight: 700;
  margin-top: 10px;
}
input {
  height: 30px;
  color: white;
  border: 2px solid rgba(175, 175, 175, 0.7);
  background-color: rgba(136, 136, 136, 0.123);
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
  &::placeholder {
    color: white;
  }
}
form {
  display: flex;
}
form button {
  height: 30px;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(175, 175, 175, 0.7);
}
.hide {
  background-color: rgba(0, 0, 0, 0.342);
  height: 100vh;
}
