.weather_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  border: 2px solid rgb(230, 33, 33);
}
.map_container {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 2px solid rgb(68, 209, 12);
}
.map {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 450px;
  & iframe {
    border-radius: 10% 10% 0 10%;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
