.weather_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  border: 2px solid rgb(230, 33, 33);
}
.map_container {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 2px solid rgb(68, 209, 12);
}
.map {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  & iframe {
    border-radius: 10% 10% 0 10%;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.currentWeather {
  display: flex;
  margin: 10px;
}
.innerInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.weahter_info_title {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 60px;
}
.time_info {
  display: flex;
  margin: 10px;
  font-size: 36px;
}
#time {
  margin-left: 10px;
}
.temp_title {
  display: flex;
  margin: 10px;
  font-size: 200px;
}
.info_element {
  margin: 10px;
}
