$inner_text: 16px;
$title_text: 26px;
$current_temp: 150px;
.weather_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  border: 2px solid rgb(230, 33, 33);
}
.map_container {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 2px solid rgb(68, 209, 12);
}
#map {
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 15% 10% 0 10%;
}
.currentWeather {
  display: flex;
  margin: 10px;
}
.innerInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.weahter_info_title {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: $title_text;
  font-weight: 700;
}
.time_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  font-size: $inner_text;
  font-weight: 700;
}
#time {
  margin-left: 10px;
  font-weight: 700;
}
.temp_title {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: $current_temp;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}
.info_element {
  margin-top: 10px;
  font-size: $inner_text;
  font-weight: 700;
}
.icon {
  position: relative;
  right: 25px;
}
.weatherOn3Days {
  display: flex;
}
.next_day_wether {
  margin: 10px;
  font-size: $title_text;
  font-weight: 700;
}

.blockDayWeather {
  display: flex;
  flex-direction: column;
}
.weekDayWeather {
  display: flex;
  flex-direction: row;
}
.weekDayNext {
  font-size: $inner_text;
  font-weight: 700;
  margin-top: 10px;
}
